p {
    font-family: Arial;
}

h1{
    font-family: Georgia;
    font-size: 5.0em;
    text-align: right;
    text-decoration: line-through;
}

body {
    font-size: 10px;
}

p {
    font-size: 2.0em;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    text-decoration: underline;
}

span {
    font-size: 2.0em;
}